
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}


.Appheader {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  overflow: hidden;
}

.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slideshowimage {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
}

.overlayText {
  position: absolute;
  top: 45%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 1;
  color: rgb(201, 25, 25);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .overlayText {
    font-size: 1em;
    padding: 5px;
    right: 2%;
  }
}

.videoSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
}

.videoOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.knowMoreButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: var(--themeColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.knowMoreButton:hover {
  background-color: rgb(255, 50, 50);
}


.imageSection {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./dark0.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOverlayText {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 1;
  color: rgb(167, 162, 162);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
 
}


.fourthBlock {
  background: url('./futuristic-moon-background (1).jpg') no-repeat center center/cover;
  padding: 40px 20px;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

.fourthBlock h1 {
  color: #d6d1d1;
  margin: 0;
  margin-bottom: 20px;
  font-size: 3rem;
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-bottom: 50px;
}

.serviceColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.serviceItem span {
  color: #d6d1d1;
}

.serviceItem {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 150px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
}

.serviceItem:hover {
  background-color: var(--themeColor);
}

.icon {
  width: 50px;
  height: 50px;
  display: block;
}

@media (max-width: 600px) {
  .serviceList {
    flex-direction: column;
    align-items: center;
  }

  .serviceColumn {
    width: 100%;
  }

  .serviceItem {
    width: 90%;
    height: auto;
  }
}

.fifthBlock {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Safety\ First.png) no-repeat center center;
  background-size: cover;
}

.safetyOverlayText {
  position: absolute;
  top: 60%;
  left: 24%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
}

@media (max-width: 992px) {
  .safetyOverlayText {
    font-size: 1.75rem;
    padding: 15px;
    max-width: 90%;
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .safetyOverlayText {
    font-size: 1.5rem;
    padding: 10px;
    max-width: 95%;
    margin-left: 100px;
  }
}

@media (max-width: 576px) {
  .safetyOverlayText {
    font-size: 1.25rem;
    padding: 5px;
    max-width: 100%;
    margin-left: 100px;
  }
}


.sixthBlock {
  text-align: center;
  height: auto;
  min-height: 100vh;
  background-image: url(./theme.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: rgb(130, 121, 121);
  font-size: 2rem;
  padding: 2rem 2rem;
  width: 100%;
}

.clientImages {
  display: grid;
  grid-template-rows: repeat(5, 1fr); 
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  max-width: 1200px;
  margin: 0 auto;
 
}

.clientImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.clientImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .clientImages {
    gap: 0.75rem;
  }
}

@media (max-width: 992px) {
  .clientImages {
    grid-template-columns: repeat(3, 1fr); 
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .clientImages {
    grid-template-columns: repeat(2, 1fr); 
    gap: 0.5rem;
  }
}

@media (max-width: 576px) {
  .clientImages {
    grid-template-columns: 1fr; 
    gap: 0.25rem;
  }

  .clientImage {
    padding: 0.25rem;
  }
}
