.container {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  background-color: black;
}

.FirstBlock,
.secondBlock,
.thirdBlock,
.fourthBlock,
.fifthBlock,
.sixthBlock {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.FirstBlock {
  background-size: cover;
  background-position: center;
}

.secondBlock {
  background-size: cover;
  background-position: center;
}

.thirdBlock {
  background-image: url('./dark0.jpg');
  background-size: cover;
  background-position: center;
}

.fourthBlock {
  background-image: url('./4.jpg');
  background-size: cover;
  background-position: center;
}

.sixthBlock {
  background-image: url('./city.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 3rem;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  height: 6rem;
}

.menuButton,
.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuIcon,
.searchIcon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menuIcon:hover,
.searchIcon:hover {
  transform: scale(1.2);
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 20rem;
  height: auto;
}

.text {
  font-size: 3.5rem;
  text-align: right;
  width: 20%;
  margin-left: auto;
  z-index: 3;
  color: var(--themeColor);
  font-weight: 700;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 430px;
  border: 1px solid red;
  font-family: Arial, Helvetica, sans-serif;
}

.tag {
  font-size: 2.8rem;
  text-align: right;
  width: 50%;
  margin-left: auto;
  z-index: 3;
  color: var(--themeColor);
  font-weight: 700;
  display: flex;
  right: 10%;
  position: absolute;
  right: 5%;
  margin-top: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.stripeBackground {
  position: absolute;
  width: 150%;
  height: 100px;
  background: linear-gradient(to right, var(--themeColor), var(--themeColor));
  z-index: 0;
  transform: rotate(175deg);
  bottom: 0;
  right: 10%;
  rotate: 120deg;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.tagline {
  position: absolute;
  top: 80%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.textContainer {
  position: absolute;
  right: 15rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  z-index: 2;
  font-size: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.boldText {
  font-weight: bold;
  font-size: 2em;
  color: var(--themeColor);
  margin-right: 0;
}

.textContainer span {
  color: black;
  margin-right: 0;
}

.sequenceContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-right: 1.5rem;
}

.tagImage {
  position: absolute;
  opacity: 0;
  animation: fadeSequence 5s infinite;
  margin-right: 12.5rem;
}

.textSequence {
  position: absolute;
  opacity: 0;
  animation: fadeSequence 5s infinite;
  width: 100%;
}

.tagImage {
  animation-delay: 5s;
  height: 7.5rem;
  width: 7.5rem;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
  margin-right: 10rem;
}

.textSequence:nth-child(2) {
  animation-delay: 5s;
}

@keyframes fadeSequence {
  0%, 20%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.tagline {
  position: absolute;
  top: 80%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: var(--themeColor);
  font-size: 2.5em;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.thirdBlock .visionText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(83, 103, 158);
  font-size: 2.5em;
  z-index: 2;
  width: 100%;
}

.text2 {
  font-size: 3.5rem;
  text-align: left;
  width: 100%;
  margin-left: auto;
  z-index: 3;
  color: rgb(248, 248, 253);
  font-weight: 500;
  display: flex;
  justify-content: start;
  position: absolute;
  margin-bottom: 200px;
  margin-left: 40px;
  margin-top: 470px;
  text-shadow: #8788c3;
  font-family: Arial, Helvetica, sans-serif;
}

.textContainer {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  z-index: 2;
  font-size: 2em;
  margin-right: 3.5rem;
  align-items: center;
}

.boldText {
  font-weight: bold;
  font-size: 2em;
  color: var(--themeColor);
}

.textContainer span {
  color: black;
  margin-right: 3.5rem;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 6s ease-in-out;
  opacity: 0;
}

.p3Image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  z-index: 1;
}

.active,
.secondBlock .image,
.thirdBlock .image,
.fifthBlock .image {
  opacity: 1;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
  opacity: 0.5;
}

.secondBlock .overlay,
.fifthBlock .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 2;
}

.secondBlockHeader {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  color: grey;
  z-index: 3;
  font-size: 2em;
  font-weight: bold;
}

.secondBlockSubheader {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 3;
  font-size: 4em;
}

.subheader {
  position: absolute;
  top: 40%;
  width: 80%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  z-index: 3;
  font-size: 3em;
}

.knowMoreButton {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  font-size: 1em;
  background: none;
  color: grey;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.knowMoreButton:hover {
  background-color: #ddd;
}

.fourthBlock {
  background-color: rgb(24, 25, 25);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  opacity: 0.8;
  background-image: url(cityscape-seen-night-from-bridge.jpg);
  opacity: .8;
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 40px;
  object-fit: cover;
  opacity: 1;
}

.serviceColumn {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
  max-width: 25vw;
  box-sizing: border-box;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: 270px;
  box-sizing: border-box;
}

.serviceItem:hover {
  background: var(--themeColor);
  color: white;
}

.icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.5rem;
}

.serviceItem span {
  white-space: nowrap;
}

.fifthBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.fifthBlock h1 {
  font-size: 4vw;
  margin: 10px 0;
}

.fifthBlock p {
  font-size: 2vw;
  margin: 10px 0;
  max-width: 800px;
}

.fifthBlock img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

@media (max-width: 1024px) {
  .text {
    font-size: 2.5rem;
    margin-top: 700px;
    margin-right: 100px;
  }

  .text1 {
    font-size: 2rem;
  }

  .stripeBackground {
    width: 130%;
  }

  .sequenceContainer {
    margin-top: 3rem;
  }

  .tagImage {
    width: 6rem;
    height: 6rem;
  }

  .text2 {
    font-size: 2.5rem;
    margin-top: 200px;
  }

  .secondBlockSubheader {
    font-size: 3em;
  }

  .subheader {
    font-size: 2.5em;
  }

  .knowMoreButton {
    font-size: 0.9em;
  }

  .fourthBlock h1 {
    font-size: 2rem;
  }

  .serviceItem {
    font-size: 0.9rem;
  }

  .fifthBlock h1 {
    font-size: 1.5em;
  }

  .fifthBlock p {
    font-size: 0.9em;
    object-fit: cover;
  }

  .sixthBlock {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 2.5rem;
    margin-top: 700px;
    margin-right: 100px;
  }

  .text1 {
    font-size: 2rem;
  }

  .text2 {
    margin-top: 50%;
  }

  .stripeBackground {
    width: 110%;
  }

  .sequenceContainer {
    margin-top: 2rem;
  }

  .tagImage {
    width: 5rem;
    height: 5rem;
  }

  .text2 {
    font-size: 2rem;
    margin-top: 400px;
  }

  .secondBlockSubheader {
    font-size: 2.5em;
  }

  .subheader {
    font-size: 2em;
  }

  .knowMoreButton {
    font-size: 0.8em;
  }

  .fourthBlock h1 {
    font-size: 1.5rem;
  }

  .serviceList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .serviceColumn {
    flex: 0 1 45%;
    max-width: 45%;
  }

  .serviceItem {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
  }

  .fifthBlock h1 {
    font-size: 1.2em;
  }

  .fifthBlock p {
    font-size: 0.8em;
    object-fit: cover;
  }

  .sixthBlock {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 1.5rem;
    margin-top: 200px;
  }

  .text1 {
    font-size: 1rem;
    margin-top: 250px;
  }

  .stripeBackground {
    width: 100%;
  }

  .sequenceContainer {
    margin-top: 1rem;
  }

  .tagImage {
    width: 4rem;
    height: 4rem;
  }

  .text2 {
    font-size: 1.5rem;
    margin-top: 300px;
  }

  .secondBlockSubheader {
    font-size: 2em;
  }

  .subheader {
    font-size: 1.5em;
  }

  .knowMoreButton {
    font-size: 0.7em;
  }

  .fourthBlock h1 {
    font-size: 1.2rem;
  }

  .serviceList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .serviceColumn {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .serviceItem {
    width: 100%;
    height: auto;
    font-size: 0.7rem;
  }

  .fifthBlock h1 {
    font-size: 1em;
  }

  .fifthBlock p {
    font-size: 0.7em;
  }

  .sixthBlock {
    font-size: 1rem;
  }
}

.fifthBlock {
  position: relative;
  text-align: center;
  color: white;
}

.fifthBlock h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  z-index: 1;
}

.fifthBlock p {
  position: absolute;
  bottom: 35%;
  left: 18%;
  transform: translateX(-50%);
  font-size: 1em;
  z-index: 1;
  width: 20%;
  max-width: 600px;
  padding: 20px;
  color: var(--themeColor);
  text-align: left;
  line-height: 2.5;
}

.sixthBlock {
  text-align: center;
  height: auto;
  min-height: 100vh;
  background-image: url(./city.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: rgb(130, 121, 121);
  font-size: 2rem;
  padding: 2rem 1rem;
}


.clientImages {
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem; 
  row-gap: 4rem; 
  justify-content: center;
  align-items: center;
  width: 90%; 
  max-width: 1200px; 
  margin: 0 auto;
}


.clientImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: #ddd;
  box-sizing: border-box;
  height: 100%; 
}

.clientImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; 
}


@media (max-width: 1200px) {
  .clientImages {
    gap: 0.75rem;
    row-gap: 3rem; 
  }
}

@media (max-width: 992px) {
  .clientImages {
    grid-template-columns: repeat(7, 1fr); 
    gap: 0.5rem;
    row-gap: 2.5rem; 
  }
}

@media (max-width: 768px) {
  .clientImages {
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    row-gap: 2rem; 
  }
}

@media (max-width: 576px) {
  .clientImages {
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25rem; 
    row-gap: 1.5rem; 
  }

  .clientImage {
    padding: 0.25rem; 
  }
}
