
body{
  background-color: black;
}



.pageContainer {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    position: static;
    z-index: 1000;
    color: white;
  }
  
  .menuContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    color: rgb(237, 229, 229);
    flex: 1;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    margin-top: 200px;
  }
  
  .menuItems {
    list-style-type: none;
  }
  
 .text{
  
  color: white;
 }

 
  .logo {
    height: 200px;
    width: 500px;
    margin-left: 60px;
  }
  
  .number {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
    color: white;
  }
  
  .menuItems li {
    font-size: 80px;
    display: flex;
    align-items: center;
  }
  
  ul {
    font-size: 20px;
  }
  

  .head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  .closebutton {
    background: transparent;
    border: none;
   
    cursor: pointer;
    color: white;
    margin-right: 70px;
    margin-top: 50px;
    
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: right;
    
  }

.closeLink{
font-size: 15px;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
 
 
}
.icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .additionalSections {
    display: grid;
    flex-direction: row;
    align-items: center;
  }
  
  .sectionNumbers {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
  }
  
  .sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
  .sectionText {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .section h2 {
    margin: 0;
  }
  
  .socialIcons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-right: 40px;
  }
  
  .socialIcon {
    width: 40px;
    height: 40px;
  }
  
  
  .sectionText h2:hover {
    color: #852007; 
  }
  
  .text:hover{
    color: #852007;  
  }
  .socialIcon:hover {
    transform: rotate(45deg);
  }
  